.homepage {
    width: 100%;
    height: auto;
    flex: 1 0 auto;

    display: flex;
}

.homepage-nav {
    display: flex;
}

.homepage-nav .homepage-nav-btn {
    text-decoration: none;
    color: var(--color-text);
    text-transform: uppercase;
    margin: 20px;

    font-weight: 600;
    font-size: large;
}

.homepage .container-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;

    margin-top: 50px;
}

.homepage .container-posts .wrapper-article {
    display: flex;
    flex-direction: column;

    width: var(--box-width);
    height: 200px;

    margin-bottom: var(--margin);
    padding: 10px;
    background-color: var(--color-post);
    border: 2px solid var(--color-border);
    border-radius: 15px;
}

.homepage .container-posts .wrapper-article .article-title {
    display: flex;
    justify-content: center;

    border-bottom: 2px solid var(--color-text);
}

.homepage .container-posts .wrapper-article .article-post {
    flex: 1 0 auto;
    margin: 0;
    padding: 0 5px;
}

.homepage .container-posts .wrapper-article .article-status {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;

    padding-top: 10px;
    border-top: 2px solid var(--color-text);
    padding: 10px 5px;
    margin: 5px 0;
}

.homepage .container-posts .wrapper-article .article-author {
    text-decoration: none;
    color: var(--color-text);
    font-weight: 600;
}